FIREBASE_CONFIG='{"apiKey":"AIzAM9y20xeADwvHOp6YIoXq-2rCD10","authDomain":"pullshub.firebaseapp.com","projectId":"puthub","storageBucket":"pulls.appspot.com","messagingSenderId":"44646144","appId":"1:4460144:web:b4e65c5656d053b5","measurementId":"G-SWRDADLJ0"}'
